.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
body {
  font-family: serif;
  background-color: rgba(152, 251, 152, 0.1);
}
/* a {
  text-decoration: none;
  color: black;
} */
a {
  position: relative;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3cb371;
}
a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #3cb371;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}
/* header */
header {
  width: 100%;
  height: 40px;
  background-color: rgba(152, 251, 152, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-right {
  float: right;
}
header ul {
  margin: 0 auto;
}
header li {
  float: left;
  margin: 10px 20px;
  list-style: none;
}
/* header li:hover {
  font-size: 20px;
} */

/* top */
.top {
  background: url(../img/top_img.jpg);
  color: white;
  width: 100%;
  height: 450px;
  margin: 40px auto;
  background-size: cover;
  position: relative;
}
.top-title {
  position: absolute;
  top: 230px;
  font-weight: bold;
  text-align: center;
}
.top-title h1 {
  font-size: 55px;
  margin: 0 auto;

}
.top-title h2 {
  font-size: 40px;
  margin: 0 auto;
}


/* introduction */
.introduction h1 {
  margin: 0 auto;
}
.introduction_content {
  background-color: white;
}

/* products */
.products h1 {
  margin: 0 auto;
}
.slide {
  display: none;
}
.active {
  display: block;
}
.index-btn-wrapper {
  font-size: 16px;
  /* width: 600px; */
  margin: 20px auto;
  text-align: center;
}
.index-btn {
  display: inline-block;
  background: #3cb371;
  border: none;
  color: white;
  width: 20px;
  font-size:17px;
  font-weight:bold;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
}
.change-btn-wrapper {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
}
.next-btn {
  cursor: pointer;
  float: right;
}
.slides {
  width: 600px;
  height: 400px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* contact */
.contact h1 {
  margin: 0 auto;
}
form{
  width:460px;
  margin:0 auto;
}
.item{
  overflow: hidden;
  margin-bottom: 20px;
}
.label{
  float: left;
  margin-right: 20px;
  width:135px;
  border-left: solid 3px #3cb371;
  padding-left: 10px;
}
.inputs{
  float: left;
  width:300px;
}
input[type="text"],input[type="email"]{
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}
textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}
.btn-area{
  text-align: center;
}
input[type="submit"]{
  background: #3cb371;
  border: none;
  color: white;
  font-size:17px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}
input[type="reset"]{
  background: #aaa;
  border: none;
  color: white;
  font-size:17px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}
form h2 {
  color: red;
  font-size: 15px;
}
