.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
body {
  font-family: Verdana,sans-serif;
  color: #273849;
}
a {
  position: relative;
  text-decoration: none;
  color: #273849;
  cursor: pointer;
}
a:hover {
  color: #3cb371;
}
a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #3cb371;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}
/* header */
header {
  width: 100%;
  height: 40px;
  background-color: #fff;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-right {
  float: right;
}
header ul {
  margin: 0 auto;
}
header li {
  float: left;
  margin: 10px 20px;
  list-style: none;
}

/* top */
.top {
  margin-top: 40px;
  background: url(../img/top_img.jpg);
  color: white;
  width: 100%;
  height: 450px;
  padding: 40px auto;
  background-size: cover;
  position: relative;
}
.top-title {
  position: absolute;
  top: 250px;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 4px 5px rgba(39, 56, 73, 0.65);
}
.top-title h1 {
  font-size: 55px;
  margin: 0 auto;

}
.top-title h2 {
  font-size: 40px;
  margin: 0 auto;
}


/* introduction */
.introduction {
  margin: 0;
  padding: 80px 0;
  background-color: #fff;
}

#photo {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  border: 5px solid rgba(129, 125, 124, 0.2);
}
#content {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.introduction h1 {
  margin: 0 auto 20px auto;
}
.introduction_content {
  width: 100%;
  /* background-color: #fff; */
  display: inline-block;
}


/* products */
.products {
  margin: 0;
  padding: 80px 0;
  background: linear-gradient(#fff, rgba(129, 209, 48, 0.38), #fff);
  color: #333;
}
.slider_main {
  width: 90%;
  margin: 0 auto;
}
.slider-for p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 10px;
  /* width: 400px; */
}
.slider-for img{
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.slider_content {
  width: auto;
  margin: 0 auto;
}


/* contact */
.contact {
  margin: 0;
  padding: 80px 0;
  background-color: #fff;
}

.contact h1 {
  margin: 0 auto 20px auto;
}
form{
  width:460px;
  margin:0 auto;
}
.item{
  overflow: hidden;
  margin-bottom: 20px;
}
.label{
  float: left;
  margin-right: 20px;
  width:135px;
  border-left: solid 3px #3cb371;
  padding-left: 10px;
}
.inputs{
  float: left;
  width:300px;
}
input[type="text"],input[type="email"]{
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}
textarea{
  border: solid 1px #aaa;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}
.btn-area{
  text-align: center;
}
input[type="submit"]{
  background: #3cb371;
  border: none;
  color: white;
  font-size:17px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}
input[type="reset"]{
  background: #aaa;
  border: none;
  color: white;
  font-size:17px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}
form h2 {
  color: red;
  font-size: 15px;
}

/* other */
#back-to-top {
  font-size: 50px;
  color: #273849;
  position: fixed;
  right: 25px;
  bottom: 25px;
}
#back-to-top:hover {
  opacity: 0.8;
}
